
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  background: var(--bg-color-body);
}


:root{
  --bg-color-body: #5b22b3;
  --bg-container:#6f3dc1;
  --bg-card: #ecf1f0;
  --bg-btn: #EEF5FF;
  --bg-cardTasks: #E1F7F5;
  --color-placeholder: #3887BE;
  --bg-color-logo: #dfd5fe;
  --text-color: #ffffff;
  --text-color-secondary: #5400ff
  --add-btn-bg: linear-gradient(45deg, #a100ff, #5400ff); /* Degradado llamativo */
  --card-bg: rgba(255, 255, 255, 0.1);
  --btn-add: linear-gradient(135deg, #a855f7 0%, #ec4899 100%);
  --btn-add-hover: linear-gradient(135deg, #ec4899 0%, #a855f7 100%);
  --font-logo: 'Montserrat', sans-serif;
  --font-general: 'Roboto', sans-serif;
}